.mynav{
  background-color: #0074D9;
  overflow: hidden;
}
.mynav a {
  color: rgba(255, 255, 255, 0.599);
  transition: all 0.3s ease-in-out ;
  padding-left: 20px;

}
 .mynav a:hover{
  color: white;
   transform: scale(1.2);
 }
.active {
  color: white !important;
}
