<section class="contact-section p-5  mysec">
  <div class="container">
    <div class="row">

      <div class="col-md-7">
        <h3 class="fw-bold mb-4">Contact form</h3>
        <form>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Full Name">
            </div>
            <div class="col">
              <input type="email" class="form-control" placeholder="E-mail">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Mobile">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Subject">
            </div>
          </div>
          <div class="mb-3">
            <textarea class="form-control" rows="4" placeholder="Message"></textarea>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <img src="/img4/index.jpg" alt="Captcha" class="img-fluid rounded">
            </div>
            <div class="col-8">
              <input type="text" class="form-control" placeholder="Verification Code">
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100">Send message</button>
        </form>
      </div>

      <!-- Contact Info -->
      <div class="col-md-5 mt-5">
        <h3 class="fw-bold">B.Laban - بـ لبن Dairy Products</h3>
        <p class="text-body-tertiary fw-semibold">9 Abbas Helmy Street, Al Merghani<br>
        Cairo, Egypt<br>
        Phone: +20 15761</p>
        <img src="/img4/hq.jpg" alt="Company" class="card-img rounded-4 shadow">
      </div>
    </div>
  </div>
</section>


<!--  -->

<section class="last-sec p-4 py-4" >
<div class="container">
  <div class="row ">
    <div class="col col-12 col-md-7">
      <h3>B.Laban - بـ لبن</h3>
      <p class="text-black-50 fw-semibold mt-3">You are amazing and talented! We should arrange for an appointment <br> with you</p>
      <div class="d-flex gap-4 p-3 mt-3">
        <button class="btn btn-primary rounded-pill w-50"> <i class="fa-brands fs-5 fa-linkedin me-2"></i> LinkedIn</button>
        <button class="btn btn-primary rounded-pill w-50"> <i class="fas fa-message  fs-5 me-2"></i>  E-Mail </button>
      </div>
    </div>
    <div class="col col-12 col-md-5">
      <img src="/img4/wah.jpg" alt="ourimg" class="card-img shadow rounded-4">
    </div>
  </div>
</div>
</section>
