<section class="position-relative overflow-hidden" style="background: linear-gradient(to right, #2874f0, #2f80ed);">

  <div class="position-absolute top-0 start-0 w-100" style="height: 80px; background-color: white; border-bottom-left-radius: 100% 50px; border-bottom-right-radius: 100% 50px;"></div>

  <div class="container p-3 position-relative" style="z-index: 1;">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="col">
        <div class="first-section mt-3 p-3">
          <div class="ine">
            <img src="/img/blabanlogo.png" alt="" width="100px">
          </div>
          <div>
            <h3 class="mt-2 text-white pt-2">B.Laban - بـ لبن </h3>
            <p class="text-white fw-semibold lead">
              9 Abbas Helmy Street, Al Merghani <br>
              Cairo, Egypt
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="second-sec">
          <div class="p-3 mt-3">
            <h3 class="fw-semibold text-capitalize text-white mt-3 pt-3">main menu</h3>
            <ul class="text-decoration-none list-unstyled myli">
              <li class="text-white-50 text-capitalize mt-2">home</li>
              <li class="text-white-50 text-capitalize mt-2">about</li>
              <li class="text-white-50 text-capitalize mt-2">our menu</li>
              <li class="text-white-50 text-capitalize mt-2">contact</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="second-sec">
          <div class="p-3 mt-3">
            <h3 class="fw-semibold text-capitalize text-white mt-3 pt-3">legal</h3>
            <ul class="text-decoration-none list-unstyled myli">
              <li class="text-white-50 text-capitalize mt-2">terms of use</li>
              <li class="text-white-50 text-capitalize mt-2">privacy policy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
