
.home{
  background-color:#F3F3F3;


}

.home h1{
    font-family: "ADLaM Display", system-ui;
    color: rgb(0, 87, 163);
    font-size: 39px;
font-weight: 700;
line-height: 47px;
}

.home h3 {
  color: rgba(0, 0, 0, 0.5);
}




.custom-section {
  background: linear-gradient(to bottom right, #c8dceb 0%, #3d7ac9 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  position: relative;

}


.core-values-section {
  position: relative;
  background: linear-gradient(to bottom, #3a86e8 0%, #1e66c2 100%);
  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  padding-top: 100px;
  padding-bottom: 100px;
}

.core-values-section h2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.rounded-top-section {
  background: linear-gradient(to bottom, #3a86e8 0%, #1e66c2 100%);
  clip-path: ellipse(100% 90% at 50% 0%);
  padding-top: 120px;
  padding-bottom: 100px;
  position: relative;
}


.rounded-top-section h3 {
      font-family: "ADLaM Display", system-ui;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
}

.mysec{
background: linear-gradient(to right, #2874f0, #2f80ed);
}
