<section class="custom-section   shadow-lg rounded-3  mb-3 p-3">
  <div class="container-fluid p-3">
    <div>
      <span class="fw-semibold text-white-50 text-capitalize" routerLink="/home"  > <i class="fa-solid mr fa-house fs-5"></i>  <a> home  </a> >  </span>
      <span class="fw-semibold text-white-50 text-capitalize">about</span>
    </div>
    <h2 class="fw-semibold  mt-3 p-3">About Us</h2>
  </div>
</section>
<!-- &&&&&&&&&&&&&&&&& -->
<section >
  <div class="container">
    <div class="row row-cols-1 g-3 row-cols-md-2">

      <div class="col">
        <div class="about-belabn p-3">
                  <h2 >About Blaban</h2>
                  <p class="mt-3" >established in 2021 , Alexandria, Blaban <br> began as a small factory specializing in <br> traditional Egyptian desserts such as rice <br> pudding, couscous, Om Ali, and ice cream <br> Blaban revolutionized the market with its <br> innovative product, Ashtouta, which quickly <br> became a bestseller and drove rapid growth.</p>
        </div>
      </div>
      <div class="col">
        .<div class="card text-start">
          <img class="card-img-top rounded-3 shadow " src="/img2/bl.jpg" alt="about-belabn" />

        </div>

      </div>
    </div>
  </div>
</section>
<!-- &&&&&&&&&&&&&&&&&7 -->
<section class="quality-section mt-3 rounded-3">
  <div class="overlay">
    <h2>Commitment to Quality</h2>
    <p>
      Blaban operates under a robust Quality Assurance Department to ensure
      consistency, precision, and excellence. This focus is guided by the
      expertise of Dr. Moamen Ammar, whose veterinary background emphasizes
      attention to detail.
    </p>
    <button>See More About Signature Product</button>
  </div>
</section>


<!-- &&&&&&&&&&&&&&&&&&&&7 -->

<section class="p-5 th" >
  <div class="container">
    <div class="row g-3 align-items-stretch">
      <div class="col-lg-5 col-md-12 mb-4 d-flex">
        <div class="p-4 w-100 d-flex flex-column justify-content-center align-items-center leftdev" >
          <h2 class="fw-bold text-start">Blaban in Numbers</h2>
          <ul class="mt-3 list-unstyled ">
            <li>2021: 22 branches across Egypt.</li>
            <li>2023: 53 branches (18 in Upper Egypt, 3 in KSA).</li>
            <li>2024: 87 branches in Egypt, 30 in KSA, and new branches in Oman, Qatar, Libya, Jordan, and UAE.</li>
            <li>2025: Expanding to Morocco, Kuwait, Bahrain, Iraq, Europe, and the USA.</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-7 col-md-12">
        <div class="row g-3 h-100">
          <div class="col-12">
            <img src="/img3/beg.jpg" class="img-fluid rounded shadow w-100" alt="Blaban Image">
          </div>
          <!-- الصورتين الصغيرين جنب بعض -->
          <div class="col-md-6 col-12">
            <img src="/img3/buae.jpg" class="img-fluid rounded shadow w-100" alt="Blaban Image">
          </div>
          <div class="col-md-6 col-12">
            <img src="/img3/bksa.webp" class="img-fluid rounded shadow w-100" alt="Blaban Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  -->
